body {
	background-color: #ddd;
	font-family: Tahoma;
}
div#corpo {
	width: 800px;
	margin: auto;
	padding: 2px;
	background-color: white;
	box-shadow: 0px 0px 30px #777;
}
table.listagem {
	width: 100%;
	text-align: left;
}
table.listagem tr {
	height: 50px;
}
table.listagem td {
	/*border: 1px solid #ddd;*/
	padding: 10px;
}
table.listagem tr:nth-child(even) {
	background-color: #f2f2f2;
}
table.listagem td:nth-child(1) {
	width: 50px;
}
table.listagem td:nth-child(3) {
	width: 90px;
}
table.detalhes {
	width: 100%;
}
table.detalhes td {
	padding: 10px;
	vertical-align: top;
}
img.mini {
	width: 50px;
}
img.full {
	height: 400px;
}

footer {
	text-align: center;
	font-family: Arial;
	font-size: 10px;
}

header {
	text-align: right;
	font-size: 10px;
}
form.busca {
	font-size: 12px;
	text-align: right;
}